* {
  box-sizing: border-box;
}

body{
  border-radius: .2em;
  margin: 40px;
  background-image: url(http://imagenes.gratis/wallpapershd/var/albums/Paisajes-Naturales/imagenes-paisajes-naturales-wallpaper-hd-fondos-fotos-pantalla%20%2817%29.jpg?m=1504557188);
}

.wrapper{
  background-color: rgba(43, 61, 226, 0.64);
  margin: 10%;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}

.group { 
  position: relative; 
  margin-bottom: 25px; 
}

.input {
  font-size: 13px;
  height: 25px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #B1B1B1;
  color: #1D1515;
  background: rgba(0,0,0,0);
  opacity: 0.5;
  transition: 0.5s ease;
}

.mark{
  background-color: rgba(0, 0, 0, 0.84);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  margin: 1% 5% 1% 5%;
  color:white;
}

.main{
  background-color: rgba(0, 0, 255, 0.64);
}

.input:focus {
  outline: none;
  opacity: 1;
}

.label {
  color: #0E0C0C; 
  font-size: 13px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 15px;
  opacity: 0.5;
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

/* active state */
.input:focus ~ label, input:valid ~ label 		{
  top: -10px;
  font-size: 12px;
  color: #092447;
  opacity: 1;
  font-weight: bold;
}

header{
  padding-top: 40px;
}

.highlight {
  position: absolute;
  height: 60%; 
  width: 100px; 
  top: 50%; 
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

@-webkit-keyframes inputHighlighter {
  from { background:#B1B1B1; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#B1B1B1; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#B1B1B1; }
  to 	{ width:0; background:transparent; }
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;  
  transition: all 0.33s ease;
}

.menu::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(240,240,240,0.0);  
  transition: all 0.45s ease;
}

form button {
  padding: 0 1em;
  font-size: 1em;
  background: #7bcbc4;
  border-radius: .2em;
}

.body.menu-active .menu {
  left: 0;
}

.body.menu-active .menu::before {
  background: rgba(240,240,240,0.9);
}

ul {
  list-style: none;
  padding: 0;
  margin: 2em 0 1em;
}
button {
  cursor: pointer;
  color: black;
}
input, 
button {
  border: none;
  outline: none;
}

@media (min-width: 0) and (max-width: 768px) {
  form {
     width: 95%;
     -webkit-flex-direction: column;
     flex-direction: column;
     margin: auto;
     margin-top: 2.5em;
   }
   form button {
     padding: 12px 0;
     margin-top: .5em;
   }
   form input {
     font-size: 1em;
     text-align: center;
   }
}

@media (min-width: 769px) {
  ul {
 display: -webkit-flex;
 display: flex;
 clear: both;
 
 -webkit-justify-content: space-between;
 justify-content: space-between;
 -webkit-flex-wrap: wrap;    
 flex-wrap: wrap;
 padding-top: 1.25em;
}
ul li {
 -webkit-flex-grow: 1;
 flex-grow: 1;
 -webkit-flex-basis: 47.5%;
 flex-basis: 47.5%;
 margin: 0 1.25% 1em;
}
}
/* * {
   box-sizing: border-box;
 }
 body {
   font-family: 'Lato', sans-serif;
   color: #4c4c4c;
   background: #f8fdf3;
 }
 h1,
 p,
 form button {
   color: white;  
 }
 h1 {
   font-family: 'Courgette', cursive;
   text-shadow: 0 1px 0 rgba(0,0,0, .4);
   line-height: .65;
   margin-top: .5em;
   margin-bottom: 0;
 }
 h2 {
   margin-top: 0;
 }
 p {
   font-size: 1.1em;
   text-shadow: 0 1px 0 rgba(0,0,0, .25);
 }
 form {
   width: 60%;
   background: white;
   display: inline-block;
   overflow: hidden;
   display: -webkit-flex;
   display: flex;
   border-radius: .2em;
   border: solid 4px white;
   box-shadow: 0 1px 14px rgba(0,0,0, .12);
 }
 form button {
   padding: 0 1em;
   font-size: 1em;
   background: #7bcbc4;
   border-radius: .2em;
 }
 ul {
   list-style: none;
   padding: 0;
   margin: 2em 0 1em;
 }
 ul li {
   padding: 1em;
   background: #fff;
   border-radius: .2em;
   border: solid 1px rgba(88, 183, 205, .2);
   border-bottom: solid 2px rgba(88, 183, 205, .2);
   position: relative;
 }
 button {
   cursor: pointer;
 }
 input, 
 button {
   border: none;
   outline: none;
 }
 header {
   text-align: center;
   background: linear-gradient(90deg, #d4eece, #55b3d0, #1e7eb7),
               url('http://www.oceanembassy.com/images/header-bg.jpg') no-repeat;
               background-blend-mode: multiply;    
               background-size: cover;   
 }
 header input {
   padding: 12px;
   font-size: 1.15em;
   width: 100%;
 }
 li span, 
 li input[type=text] {
   color: #707070;
   font-size: 1.3em;
   margin-bottom: .3em;
 }
 li input[type=text] {
   padding: .2em;
   width: 95%;
   border: 1px dotted rgba(0,0,0, .2);
 }
 li label {
   font-size: .9em;
   display: block;
   color: rgba(112, 112, 112, .55);
 }
 li span, 
 li input[type=text]:first-child {
   display: block;
 }
 li button {
   font-size: .78em;
   margin-top: 1.65em;
   margin-right: .4em;
   border-radius: .3em;
   padding: .4em .6em;
   color: white;
   background: #58b7cd;
 }
 li button:last-child {
   background: rgba(88, 183, 205, .5);
 }
 .wrapper {
   width: 100%;
   max-width: 900px;
   margin: 2.5em auto;
   border-radius: .35em;
   background: #2B6AB1;
   overflow: hidden;
   box-shadow: 0 0 26px rgba(0,0,0, .13);
 }
 div > input:last-child {
   font-size: 1em;
   margin-left: 6px;
 }
 div > label {
   color: #767676;
 }
 
 .responded {
   transition: 0.4s;
   border-color: rgba(88, 183, 205, .9);
 }
 .responded label {
   transition: 0.4s;
   color: rgba(88, 183, 205, 1);
 }
 
 @media (min-width: 0) and (max-width: 768px) {
   header {
     padding: 1.25em;
   }
   h1 {
     font-size: 3.6em;
     margin: .3em 0 0;
   }
   ul li {
     margin-bottom: 1em;
   }
   form {
     width: 95%;
     -webkit-flex-direction: column;
     flex-direction: column;
     margin: auto;
     margin-top: 2.5em;
   }
   form button {
     padding: 12px 0;
     margin-top: .5em;
   }
   form input {
     font-size: 1em;
     text-align: center;
   }
   .wrapper {
     margin: 0;
   }
   .main {
     padding: 2em 1em .75em;
   }
 }
 
 @media (min-width: 769px) {
   header {
     height: 280px;
     padding: 2.5em 1em 1em;  
     background-position: 0 -95px; 
   }
   .main > div {
     float: right;
     display: inline-block;
     margin-top: 12px;
     margin-right: 1.25%;
   }
   div > label {
     margin-top: 12px;
   }
   h1 {
     font-size: 5.8em;
   }
   h2 {
     float: left;
     font-size: 1.9em;
     margin-left: 1.25%;
   }
   form {
     margin: 4.15em auto 0;
     z-index: 3000;
     position: relative;
   }
   .wrapper {
     width: 90%;
   }
   .main {
     padding: 3.8em 1.5em .75em;
     position: relative;
     z-index: 10;
   }
   ul {
     display: -webkit-flex;
     display: flex;
     clear: both;
     
     -webkit-justify-content: space-between;
     justify-content: space-between;
     -webkit-flex-wrap: wrap;    
     flex-wrap: wrap;
     padding-top: 1.25em;
   }
   ul li {
     -webkit-flex-grow: 1;
     flex-grow: 1;
     -webkit-flex-basis: 47.5%;
     flex-basis: 47.5%;
     margin: 0 1.25% 1em;
   }
 }
 @media (min-width: 880px) { 
   ul li {
     -webkit-flex-basis: 20%;
     flex-basis: 20%;
   }
 } */